* {
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
 body {
     background-color: #e9ebee;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 610px);
    grid-gap: 10px;
    margin: 6.25rem .625rem .625rem .625rem;
}
 h1 {
    text-align: center;
    position: relativea;
    background-color: grey;
    width: 85%;
    z-index: 1;
    display: block;
    left: 6.5%;
    padding: 1.25rem;
    margin-top: 10px;
    font-size: 1.3em;
}
 li, h3:first-letter {
     text-transform: capitalize 
}
 .img {
    box-sizing: border-box;
    display: block;
    margin: 1px auto;
    border-radius: 5px;
    width: 64%;
}
.grid:hover {
    position: relative;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1000;
}
 .grid:nth-child(10) {
     grid-row: 4/ 4;
     grid-column: 1/ 4;
     width: 99%;
}
.grid {
    padding: 10px;
    border: solid 1px white;
    background: red;
    width: 100%;
    margin: 10px;
    font-size: 150%;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 0px;
}
 .grid:nth-child(even) {
     background-color: #ccc;
}
 @media only screen and (min-width: 580px) {
       h1 {
     text-align: center;
     position: relativea;
     background-color: grey;
     width: 60%;
     z-index: 1;
     display: block;
     left: 20%;
     padding: 5px;
     margin-top: 10px;
}
     .grid {
     padding: 10px;
     border: solid 1px white;
     background: red;
     width: 400px;
     margin: 10px;
     font-size: 150%;
     border-radius: 5px;
     color: #fff;
}
      .img {
     box-sizing: border-box;
     display: block;
     margin: 1px auto;
     border-radius: 5px;
     width: 10em;
}
}
